<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/splash.css" />
  </head>
  <body>
    <header>
      <p id = "sl">Snakes and ladders!</p>
      
    </header>

    <main>
      <div>
        <h1><a id="playBtn" href="/game">PLAY</a></h1>
       
        <p id ="welcomeid">Welcome to the greatest snakes and ladders game!</p>
        <p class = "other" id ="blessid"> Conside youself to be lucky as you are one of the  <br>chosen one who is blessed to have the opportinity<br>play this amazing game created by two prodogies!<br> <br></p>
         
       <div id="stats">  
          <h2>Statistics</h2>
          <div class="stat" id="numGames">
            <div>Number of games</div>
            <div>1200</div>
          </div>

          <div class="stat" id="numOfPlayers">
            <div>Number of players</div>
            <div>1200</div>
          </div>

          <div class="stat" id="avgGameDuration">
            <div>Average game time</div>
            <div>1200</div>
          </div>
        </div>
      </div>

      <div>
        <div id="img">  
          <img
            src="/images/background-snake.png"
            alt="snake and ladders background"
          />
        </div>
      </div>
    </main>
  </body>
</html>
