<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/splash.css" />
  </head>
  <!-- basics -->

  <body>
    <header>
      <h1>Snakes and ladders!</h1>
      <p>Welcome to the greatest snakes and ladders game!</p>
    </header>

    <main>
      <!-- we have two major divs to split the splash into two major -->
      <div>
        <h1><a href="/game">Play</a></h1>

        <div id="stats">
          <h2>Statistics</h2>
          <div class="stat" id="numGames">
            <div>Number of games</div>
            <div><%= totalGames %></div>
          </div>

          <div class="stat" id="numOfPlayers">
            <div>Number of players</div>
            <div><%= totalPlayers %></div>
          </div>

          <div class="stat" id="avgGameDuration">
            <div>Average game time</div>
            <div><%= avgGameTime %></div>
          </div>
        </div>
      </div>

      <div>
        <div id="img">
          <img
            src="/images/background-snake.png"
            alt="snake and ladders background"
          />
        </div>
      </div>
    </main>
  </body>

  <script src="/javascripts/splash.js"></script>
</html>
