#modal {
  width: 100vw;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

#boardContainer {
  position: relative;
  width: 750px;
}

#board {
  display: grid;
  /* this is for the board cells--making it all 75 pix wide */
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px;
}

.cell {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  line-height: 30px;
  text-align: center;
  position: relative;
}

.pin {
  z-index: 2;
  text-align: center;
  line-height: 40px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.5s linear;
}

#pinPlayerA {
  top: 715px;
  left: 695px;
  background-color: purple;
}

#pinPlayerB {
  top: 715px;
  left: 695px;
  background-color: black;
}

.imgOnBoard {
  position: absolute;
  width: 100px;
  z-index: 1;
}

.imgOnBoard > img {
  width: 100%;
  height: 100%;
}

#ladder1 {
  bottom: 90px;
  right: 90px;
  height: 200px;
  width: 120px;
  transform: rotate(-30deg);
}

#ladder2 {
  top: 100px;
  left: 240px;
  height: 180px;
  width: 120px;
  transform: rotate(-25deg);
}

#ladder3 {
  bottom: 20px;
  left: 90px;
  height: 180px;
  width: 120px;
  transform: rotate(20deg);
}

#ladder4 {
  bottom: 330px;
  left: 10px;
  height: 180px;
  width: 120px;
  transform: rotate(25deg);
}

#ladder5 {
  bottom: 300px;
  left: 420px;
  height: 230px;
  width: 120px;
  transform: rotate(50deg);
}

#ladder6 {
  top: -20px;
  right: 50px;
  height: 180px;
  width: 120px;
  transform: rotate(-60deg);
}

#snake1 {
  top: 60px;
  right: 220px;
  height: 180px;
  width: 50px;
  transform: rotate(60deg);
}

#snake2 {
  bottom: 262px;
  left: 282px;
  height: 180px;
  width: 50px;
  transform: rotate(-30deg);
}

#snake3 {
  top: 250px;
  right: 50px;
  height: 180px;
  width: 50px;
  transform: rotate(-20deg);
}

#snake4 {
  bottom: -5px;
  left: 309px;
  height: 180px;
  width: 50px;
  transform: rotate(-70deg);
}

#snake5 {
  top: -5px;
  left: 98px;
  height: 180px;
  width: 50px;
  transform: rotate(60deg);
}

main {
  display: flex;
  /* from the game screen, there are two big halves and this css command forces the elements in the halves to be in the center of the two big halves */
  justify-content: space-around;
  padding: 40px;
}

#infoSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#gameTime {
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  /* margin-bottom: 20px; */
}

#gameTime > div {
  font-size: 80px;
}

#playersBoard {
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#announcementsContainer {
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#turnContainer {
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  /* margin-top: 150px; */
}

#diceImg {
  width: 128px;
  margin: auto;
  transition: all 0.75s ease;
}

.diceImg-active {
  transform: rotate(1800deg);
}

#fullScreenBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#returnToHome {
  display: none;
}
